<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Enes Kilicaslan Admin Panel</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="/js/datatable.js"></script>

	<style>
	
		h1, h2, h3, h4, h5, h6 {
        		text-align: center;
    		}
    		
    		.btn-space {
		    margin-left: 15px;
		}
    	
    		.center_div{
		    margin: 0 auto;
		    
		}
    	</style>
</head>

<body>

	<h2> Admin Panel </h2>
	<br />
	<hr />
	<br />
 	
 	
 	<div class="container center_div">
	 	<form id="add-user" class="form-inline" style="margin:20px 20px 20px 20px">
	 		<label class="sr-only" for="firstname"></label>
	 		<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="firstname" placeholder="First Name">
	
			<label class="sr-only" for="lastname"></label>
	 		<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="lastname" placeholder="Last Name">
			
	 		<label class="sr-only" for="username"></label>
	 		<div class="input-group mb-2 mr-sm-2 mb-sm-0">
	 			<div class="input-group-addon">@</div>
	 			<input type="text" class="form-control" id="username" placeholder="Username">
	 		</div>
	 		
	 		<label class="sr-only" for="password"></label>
	 		<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="password" placeholder="Password">
			
			<label class="sr-only" for="role"></label>
	 		<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="role" placeholder="role">
			
	  		<button type="submit" class="btn btn-primary btn-space">Add User</button>
		</form>
	
	</div>
	
	<br />
	<hr />
	<br />
	
	<div class="container" id="usersTable">
		<h1>Users Table</h1>
		<table class="table table-striped">
	      
	       <!-- Header Table -->
	       <thead>
	            <tr>
	                <th>Id</th>
					<th>Name</th>
	                <th>Last Name</th>
	                <th>User Name</th>
	                <th>Password</th>
	                <th>Role</th>
	            </tr>
	        </thead>
	        
	        <tfoot>
	        
	        </tfoot>
	          
	    </table>

		<nav aria-label="Page navigation example">
		  <ul class="pagination">
		  
		    <li id="prevPage" class="page-item"><a class="page-link" >Previous</a></li>
		    <li id="nextPage" class="page-item"><a class="page-link" >Next</a></li>
		  </ul>
		</nav>	
	</div>
	
	<br />
	<hr />
	<br />
	
</body>
</html>